body {
    margin: 0;
    font-size: 10px;
}

h1 {
    border: 3px solid black;
    width: 150px;
    padding: 0.7rem;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px auto;
    font-family: Courier New;
    font-weight: bold;
}

#one {
    background-color: #264653;
    transform: scale(0.9) skewY(20deg) translateX(500px) translateY(100px);
}

#two {
    background-color: #2a9d8f;
    transform: translateX(300px) scale(0.7);
}


#three {
    background-color: #e9c46a;
    transform: skew(30deg);
}

#four {
    background-color: #f4a261;
    transform: translateX(-300px) rotate(145deg);
}

#five {
    background-color: #e76f51;
    transform: skewX(-30deg) scale(0.7) translateX(300px) rotate(15deg);
}

#six {
    background-color: #d62828;
    transform: rotate(180deg) translateY(300px);
}